@model TaxiGomelProject.Models.CarModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Марка автомобиля</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechStats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechStats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specifications)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarModelId">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
