@using TaxiGomelProject.ViewModels.CarModels
@model CarModelsViewModel
@{
    ViewData["Title"] = "Марки автомобилей";
}

<h1>Марки автомобилей</h1>
<form method="get" style="width:30%">
    <div class="form-group">
        <label>Марка: </label>
        <input class="form-control" name="carModelName" asp-items="@Model.CarModelsFilterViewModel.SelectedCarModelName"></input>
    </div>
    <div class="form-group">
        <label>Цена: </label>
        <input class="form-control" name="price" asp-items="@Model.CarModelsFilterViewModel.SelectedPrice"></input>
    </div>
    <input type="submit" value="Фильтр" class="btn btn-primary" />
</form>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.CarModelsSortViewModel.CarModelNameSort)"
                   asp-route-carModelName="@(Model.CarModelsFilterViewModel.SelectedCarModelName)"
                   asp-route-price="@(Model.CarModelsFilterViewModel.SelectedPrice)">Марка</a>
            </th>
            <th>
                Технические характеристики
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.CarModelsSortViewModel.PriceSort)"
                   asp-route-carModelName="@(Model.CarModelsFilterViewModel.SelectedCarModelName)"
                   asp-route-price="@(Model.CarModelsFilterViewModel.SelectedPrice)">Цена</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.CarModelsSortViewModel.SpecificationSort)"
                   asp-route-carModelName="@(Model.CarModelsFilterViewModel.SelectedCarModelName)"
                   asp-route-price="@(Model.CarModelsFilterViewModel.SelectedPrice)">Спецификация</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TechStats)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Specifications)
            </td>
            <td>
                    <div class="list-group">
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.CarModelId" class="list-group-item list-group-item-primary">Редактировать</a>
                            
                            <a asp-action="Delete" asp-route-id="@item.CarModelId" class="list-group-item list-group-item-danger">Удалить</a>
                        }
                        @if (User.IsInRole("admin") || User.IsInRole("user"))
                        {
                            <a asp-action="Details" asp-route-id="@item.CarModelId" class="list-group-item list-group-item-success">Подробности</a>
                        }
                    </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <div class="btn-group" role="group" aria-label="Basic example">

        @if (Model.PageViewModel.HasPreviousPage)
        {
                <a asp-action="Index"
                   class="btn btn-primary"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
               asp-route-carModelName="@(Model.CarModelsFilterViewModel.SelectedCarModelName)"
               asp-route-price="@(Model.CarModelsFilterViewModel.SelectedPrice)"
               asp-route-sortorder="@(Model.CarModelsSortViewModel.Current)"
                   style="text-decoration:none; color:white">
                    Назад
                </a>

        }
        @if (Model.PageViewModel.HasNextPage)
        {
                <a asp-action="Index"
                   class="btn btn-primary"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
               asp-route-carModelName="@(Model.CarModelsFilterViewModel.SelectedCarModelName)"
               asp-route-price="@(Model.CarModelsFilterViewModel.SelectedPrice)"
               asp-route-sortorder="@(Model.CarModelsSortViewModel.Current)"
                   style="text-decoration:none; color:white">
                    Вперед
                </a>

        }
    </div>
</p>